[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/CommandLineParser"]
	path = lib/CommandLineParser
	url = https://github.com/xit303/CommandLineParser.git
